@using ShopСlothes.ViewModels
@model CarsListView
@{
    ViewData["Title"] = "Home Page";
}
<h3>@Model.cuurCategory</h3>
<div class="row mt-5 mb-2">
    @{

  foreach (Car item in Model.GetCars)
            Html.Partial("AllCarsHtm", item);
            }
            </div>