@using ShopСlothes.ViewModels
@model CarsListView
@{
    ViewData["Title"] = "Home Page";
}
f
<h3>@Model.CuurCategory</h3>
<div class="row mt-5 mb-2">
    @{

  foreach (Car item in Model.GetCars)
            Html.Partial("AllCarsHtm", item);
            }
            </div>